body {
  background-color: black;
  color: white;
   height: 100%;
   width:100%;
   padding: 0px;
   margin:0px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}


#root{
  width: 100%;
}


  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

.headline {
  animation-name: myAnimation;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  white-space: nowrap;       /* ✅ Prevent text wrapping */
  display: inline-block; 

}
@media (min-width: 768px) {
  .headline {
    animation: none !important;
  }
}

@keyframes myAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}


/* animations.css */
/* animations.css */

@keyframes zoomOut {
  0% {
    transform: scale(1.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.rightbox::-webkit-scrollbar {
  display: none;  /* Hide scrollbar in webkit browsers */
}
.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.scroll-target {
  scroll-margin-top: 80px; /* Adjust based on your sticky header height */
}
.zoom-out {
  animation: zoomOut 1.4s ease-out;
}

.slide-in-left {
  animation: slideInLeft 1s ease-out;
}

.herotext {
  animation-name: heroAnimation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: reverse;
}

@keyframes heroAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(30%);
  }
}

.swiper-button-prev {
  left: 40%;
  background: red;
  right: auto;
}
.swiper-button-next {
  left: 50%;
  right: auto;
  background-color: aqua;
}

::-webkit-scrollbar {
  width: 4px;       
}
::-webkit-scrollbar-thumb {
  background: #888;   /* Or your preferred color */
  border-radius: 6px;
}